$size: 114px;

.login {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 40px;
}

.logo {
    width: $size;
    height: $size;

    background-color: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Gray);
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    gap: 16px;
}